.header {
    background-color: rgb(49, 49, 49);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 10px 10px;
    justify-content: space-between;
    box-shadow: 0 0 2px #000, 0 0 12px #000;
}

.header__logoBox {
    width: 100%;
    align-self: flex-start;
}

.header__logo {
    width: 100px;
    object-fit: contain;
}

.header__nav {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

.header__link{
    color: white;
    text-decoration: none;
}

.header__link:hover {
    cursor: pointer;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.header__optionLine {
    font-size: 18px;
}


.header__optionCart {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__productCount{
    margin-left: 3px;
    margin-right: 3px;
}

.header__toolbar {
    justify-content: baseline;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.header__optionUser {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap:nowrap;
}
