.login {
    background-color:whitesmoke;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: lightgray;
}

.login__logo {
    width: 100px;
    object-fit: contain;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login__title {
    color:rgb(46, 46, 46);
    margin-bottom: 20px;
    text-align: center;
}

.login__container {
    background-color: whitesmoke ;
    border: 1px solid whitesmoke;
    border-radius: 1px;
    width: 380px;
    height: 60%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 8px 8px 10px grey;
}

.login__info {
    justify-content: center;
    color:  rgb(46, 46, 46);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    align-items: center;
}

.login__infoHeader {
    text-align: center;
    margin-bottom: 30px;
}

.login__info input {
    font-size: 18px;
    min-height: 24px;
    margin: auto;
    padding: 3px;
    width: 100%;
    border: 1px solid black;
    border-radius: 3px;
}

.login__info h5 {
    margin-top: 10px;
}

.login__other {
    width: 70%;
    height: 100%;
    margin: auto;
}

.login__otherHeader {
    text-align: center;
    color:rgb(46, 46, 46);
    
}

.login__signInButton, .login__registerButton {
    background-color: #449bd4;
    color: #111;
    border: 1px solid;
    border-color: #449bd4;
    border-radius: 2px;
    margin-top: 5px;
    width: 100%;
    height: 40px;
    padding: 0px;
    cursor: pointer;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
}

