.navlinks {
    background-color: rgb(49, 49, 49);
    height: 30px;
    color: white; 
}

.navlinks__outer {
    height: 30px;
    width: 50%;
    margin: auto;
}

.navlinks__outer a {
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(49, 49, 49);
    margin: 0px;
    padding: 2px;
}

.navlinks__outer a:hover {
    border: 1px solid #fff;
    border-radius: 4px;
}

.navlinks__inner {
    font-size: 14px;
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-evenly;
    margin: auto;
}