.navlinks {
    background-color: rgb(65, 65, 65);
    height: 39px;
    color: white; 
}

.navlinks__outer {
    width: 70%;
    margin: auto;
    padding: 6px;
}

.navlinks__outer a {
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(65, 65, 65);
    margin: 3px;
    padding: 3px;
}

.navlinks__outer a:hover {
    border: 1px solid #fff;
    border-radius: 4px;
}

.navlinks__inner {
    margin-top: 3px;
}